
@{
    ViewData["Title"] = "OrderPlaced";
    Layout = "~/Views/Shared/_LayoutForECMS.cshtml";
}
<style>
    .card {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }
    .success {
        color: green;
    }
</style>
<br />
<br />
<br />
<br />
<br />
<div class="card">
    <h1><span>&#10004;</span></h1>
    <h2 class="success">Order Placed Successfully</h2>
     <br />
    <a href="/Shop/Home" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
        Buy More
    </a>
   
</div>

<br />
<br />
<br />